ANTHROPIC_API_KEY=sk-ant-...
SLACK_TOKEN=xoxb-...
SLACK_CHANNEL=C0XXXXXXXX
GOOGLE_CREDENTIALS_PATH=/path/to/credential.json
GOOGLE_SHEET_ID=your_sheet_id_here
GOOGLE_DRIVE_FOLDER_ID=your_folder_id_here
GOOGLE_OWNER_EMAIL=your@email.com
ES_URL=https://elasticsearch-data.es-cluster-v8:9200
ES_USER=your_es_user
ES_PASS=your_es_password
